/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import "assets/style/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $openSansFont;
}

input:focus {
  outline: none;
}
